In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Comment this if the data visualisations doesn't work on your side
%matplotlib inline

In [38]:
import pandas as pd
all_df = pd.read_csv("train.csv")
all_df["Product_ID"] = all_df["Product_ID"].str[1::]
all_df["Gender"] = all_df["Gender"].str.replace("F", "0").str.replace("M", "1")
all_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,00069042,0,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,00248942,0,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,00087842,0,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,00085442,0,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,00285442,1,55+,16,C,4+,0,8,NaN,NaN,7969

In [57]:
df['Age'].describe()
plt.figure(figsize=(9, 8))
sns.catplot( kind="count", palette="ch:.25", data=df['Age']);

ValueError: Either `x` or `y` must be None for count plots

In [52]:
gb = all_df.groupby("User_ID")
users_df = [gb.get_group(x) for x in gb.groups]

In [28]:
from sklearn.tree import DecisionTreeRegressor
df = users_df[0]
X = df[["Product_ID", "Gender", "Age", "Occupation", "City_Category", "Stay_In_Current_City_Years", "Marital_Status", "Product_Category_1", "Product_Category_2", "Product_Category_3"]]
y = df[["Purchase"]]
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(X,y)

ValueError: could not convert string to float: 'F'

In [24]:
"oif"[1::]

'if'